* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background: url(images/galaxy.gif) no-repeat center fixed;
  background-size: cover;
}
.whole {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.first-h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  word-spacing: 1px;
  margin: 10px;
  text-shadow: 1px 3px 4px #fff;
}
.input-wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 10px;
}
.mass {
  padding: 14px 16px;
  margin-right: 4px;
  border: 0.5px solid #bbb;
  border-radius: 4px;
  width: 400px;
  outline: none;
}
#planet {
  padding: 14px 16px;
  margin-right: 4px;
  border: 0.5px solid #bbb;
  border-radius: 4px;
  width: 150px;
  background-color: #bbb;
  padding-right: 20px;
  font-size: 14px;
}
.btn {
  height: 46px;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  border: 0.5px solid #bbb;
  border-radius: 4px;
  background-color: #bbb;
  color: #fff;
  cursor: pointer;
  margin-left: 2px;
}
.btn:hover {
  background-color: #5a5858;
}
.view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: rgba(204, 193, 193, 0.1);
}
#earth-first {
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
#h2 {
  font-size: 40px;
  color: rgb(4, 255, 4);
}
#h22 {
  font-size: 25px;
  font-weight: bold;
}
#div1 {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-right: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}
#div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  padding: 15px;
  width: 50%;
  text-align: center;
  color: #fff;
  background-color: rgba(204, 193, 193, 0.2);
}
#div3 {
  padding: 25px;
  margin: 15px;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(204, 193, 193, 0.2);
}
#image {
  height: 315px;
  width: 300px;
  margin-top: 00px;
}
footer {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
